@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;1,500&display=swap');

/* ~~~~~~~~~~~~~ Variables Style ~~~~~~~~~~~~~ */

:root {
	--ff: 'Barlow Semi Condensed', sans-serif;
	--fs-body: 0.8125rem;
	--fw-500: 500;
	--fw-600: 600;
	--Moderate-violet: hsl(263, 55%, 52%);
	--Moderate-grayish-blue: hsl(217, 19%, 35%);
	--Very-dark-blackish-blue: hsl(219, 29%, 14%);
	--White: hsl(0, 0%, 100%);
	--Light-gray: hsl(0, 0%, 81%);
	--Light-grayish-blue: hsl(210, 46%, 95%);
}

/* ~~~~~~~~~~~~~ Reset Style ~~~~~~~~~~~~~ */

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
p,
blockquote {
	margin-block: 1rem;
}

h2 {
	font-weight: var(--fw-600);
}
h3 {
	font-weight: var(--fw-500);
}

/* ~~~~~~~~~~~~~ General Style ~~~~~~~~~~~~~ */

body {
	font-family: var(--ff);
	font-size: var(--fs-body);
	width: min(100% - 2rem, 90rem);
	min-height: calc(100vh - 1px);
	margin: 1rem auto;
	display: grid;
	place-content: center;
	background-color: var(--Light-gray);
	color: var(--Very-dark-blackish-blue);
}

/* ====================================================== */
/* ==================== Mobile Style =================== */
/* ====================================================== */

.testimonial {
	display: grid;
	grid-template-columns: 1fr;
    grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
    ;
	gap: 1rem;
}
.card:nth-of-type(1){
    grid-area: card1;
}
.card:nth-of-type(2){
    grid-area: card2;
}
.card:nth-of-type(3){
    grid-area: card3;
}
.card:nth-of-type(4){
    grid-area: card4;
}
.card:nth-of-type(5){
    grid-area: card5;
}
.card {
	background-color: var(--White);
	padding: 1rem;
	border-radius: 0.5rem;
}

.card figure {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.card figure img {
	width: 35px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border: 2px solid hsla(0, 0%, 100%, 0.5);
	border-radius: 50%;
}
.name,
.status {
	margin-block: 0;
}
.status {
	opacity: 50%;
}
.card blockquote {
	opacity: 70%;
}

/* ~~~~~~~~~~~~~ Utilities Style ~~~~~~~~~~~~~ */

.violet_card {
    background-color: var(--Moderate-violet);
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 1rem right 1rem;
	color: var(--White);
}
.blackish-blue {
	background-color: var(--Very-dark-blackish-blue);
	color: var(--White);
}
.grayish-blue {
	background-color: var(--Moderate-grayish-blue);
	color: var(--White);
}
